body {
    background: linear-gradient(to bottom, #ffffff, #717e94);
    min-height: 100vh; /* Đảm bảo gradient bao phủ toàn bộ trang */
    margin: 0; /* Xóa margin mặc định của body */
    font-family: "Open Sans", sans-serif !important;
}
.pb-4 {
    height: 90vh;
}
.hr {
    width: 100%;
    height: 1px; /* Độ mỏng của đường kẻ */
    border: none;
    background: linear-gradient(to right, transparent, #000, transparent);
}
.grayColor {
    color: #8392ab !important;
}
.timkiem {
    padding: 8px 20px 8px 20px ;
    border-radius: 20px ;
    background-color: #7085a2;
    color: white;

}
.menu {
    background-color: #344767 !important; /* Màu nền trắng */
    border: 1px solid #ddd !important; /* Viền nhẹ */
    border-radius: 8px !important; /* Bo góc */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) !important; /* Hiệu ứng đổ bóng */
    min-width: 200px !important; /* Độ rộng tối thiểu */
    padding: 8px 0 !important; /* Khoảng cách giữa các mục */
    margin-left: 30px !important;
}

.menuitem {
    color: white !important;
    font-size: 16px !important;
    padding: 10px 15px !important;
    transition: background-color 0.3s ease-in-out !important;
}


    .menuitem:hover {
        background-color: #8392ab !important;
        color: #fff !important;
        border-radius: 5px !important;
    }

/* Định dạng dropdown khi hiển thị */
.show {
    display: block !important;
}

/* Hiển thị dropdown khi hover vào thẻ cha */
.nav-item.dropdown:hover .dropdown-menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}

