
@{
    ViewBag.Title = "EditQuanLy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/AdminHome/QuanLy" class="timkiem" style="text-decoration:none">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    Trở về
</a>
<div class="container d-flex justify-content-center">
    <div style="width: 50%; background-color: #ebedef; padding: 20px; border-radius: 20px ;height:500px">
        <form id="bookingForm">
            <h5 class="text mt-3" style="text-align: center; color: #2471a3 ">THÔNG TIN NGƯỜI DÙNG</h5>
            <div class="row g-3 mt-2">
                <div class="col-md-6">
                    <input class="form-control" type="text" id="Id" placeholder="Mã số (Bắt buộc)">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="fullName" placeholder="Họ tên (Bắt buộc)" >
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="diachi" placeholder="Địa chỉ">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="email" id="email" placeholder="Email">
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="sdt" placeholder="Số điện thoại">
                </div>
                <div class="col-md-6">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheck1">
                        <label class="form-check-label" for="inlineCheck1">Quản lý</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="dob" class="form-label">Ngày tháng năm sinh:</label>
                    <input class="form-control" type="date" id="dob">
                </div>
            </div>

            <!-- Upload File -->
            <div class="mt-3">
                <label for="fileInput" class="d-inline-flex align-items-center gap-2 p-2 border rounded bg-light cursor-pointer">
                    <img src="~/Content/Admin/Image/Circle-icons-image.png" alt="icon" style="width: 24px; height: 24px;">
                    Ảnh
                </label>
                <input type="file" id="fileInput" class="d-none" onchange="previewImage()">
                <img id="imagePreview" class="mt-2" style="width: 60px;">
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn" style="background-color: #273a5a;color:white;margin-left:20px">THÊM</button>
            </div>
        </form>
    </div>
</div>



